<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:task="http://www.springframework.org/schema/task"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="30" />
		<property name="minIdle" value="20" />
		<property name="maxTotal" value="30" />
		<property name="testOnBorrow" value="false" />
	</bean>


	<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<constructor-arg>
			<bean
				class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
				<property name="hostName" value="${redis_host}"></property>
				<property name="poolConfig" ref="poolConfig"></property>
				<property name="port" value="${redis_port}"></property>
				<property name="password" value="${redis_password}"></property>
				<property name="timeout" value="${redis_timeout}"></property>
			</bean>
		</constructor-arg>
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="poolConfig"
			type="org.apache.commons.pool2.impl.GenericObjectPoolConfig" />
		<constructor-arg index="1" type="String" value="${redis_host}" />
		<constructor-arg index="2" type="int" value="${redis_port}" />
		<constructor-arg index="3" type="int" value="${redis_timeout}" />
		<constructor-arg index="4" type="String" value="${redis_password}" />
	</bean>
</beans>